.OBToolbarIconButton_icon_tmc_batchapproveijin {
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(./images/savecheck.png);
}

.OBToolbarIconButton_icon_tmc_uncheck {
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(./images/uncheck.png);
}

.OBToolbarIconButton_icon_tmc_toolbarprint {
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(./images/savecheck.png);
}

.OBToolbarIconButton_icon_tmc_refreshtoken {
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(./images/refreshfromapi.png);
}
/*
.OBToolbarIconButton_icon_gai_show_id {
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(./images/ID.png);
}
*/